.highlight {
  background-color: #d1e9ff;
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}
.hidden {
  visibility: hidden;
}
.cursor {
  animation: cursor .9s step-end infinite;
  border-left: 1px solid black;
}
.shadow {
  box-shadow: inset 0 0 10px #cacaca;
}

.typing-wrapper{
  cursor: pointer;
  text-align: initial;
  position: relative;
  font-size: 1.1em;
  max-width: 750px;
  padding: 20px;
}
.div-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
pre {
  white-space: pre-wrap;
  padding: 20px;
  margin: 0;

}

.typing-wrapper:focus,
pre:focus {
  border: 0;
  outline: none;
}
.scorecard {
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px auto;
  width: 220px;
}
.scorecard ul {
  padding: 10px;
  margin: 0;
}
.scorecard li {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  padding: 3px 0px;
}
.scorecard h3 {
  padding: 10px;
}
.scorecard span {
  padding: 5px;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
